In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import random
from datetime import date
import random
import plotly.plotly as py
import plotly.graph_objs as go
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import TSNE

In [2]:
#Connect to database
engine = create_engine('postgresql://earlynreinhardt@localhost:5432/athena_database')
austin_db = pd.read_sql('atx_patient_db', engine)

In [3]:
office_entry_db = pd.DataFrame(columns = ['patient_id', 'doctor_id', 'date_of_visit', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5'])

In [4]:
#Create office_entry and office_exit dataframes
#TODO: Add Neutral as a Score
# -1 - Negative
# 0 - Neutral
# 1 - Postive 
patient_id = np.random.randint(low=1, high=601, size=600)

office_entry_responses = {'patient_id': patient_id, 
    'Q1': np.random.choice(2, size=600, p=[0.35, 0.65]), 
    'Q2': np.random.choice(2, size=600, p=[0.40, 0.60]), 
    'Q3': np.random.choice(2, size=600, p=[0.70, 0.30]), 
    'Q4': np.random.choice(2, size=600, p=[0.10, 0.90]), 
    'Q5': np.random.choice(2, size=600, p=[0.55, 0.45])}

office_exit_responses = {'patient_id': patient_id, 
    'Q1': np.random.choice(2, size=600, p=[0.30, 0.70]), 
    'Q2': np.random.choice(2, size=600, p=[0.60, 0.40]), 
    'Q3': np.random.choice(2, size=600, p=[0.50, 0.50]), 
    'Q4': np.random.choice(2, size=600, p=[0.05, 0.95]), 
    'Q5': np.random.choice(2, size=600, p=[0.45, 0.55])}


office_entry_db = pd.DataFrame.from_dict(office_entry_responses)
office_exit_db = pd.DataFrame.from_dict(office_exit_responses)

In [5]:
office_entry_db['average'] = office_entry_db[['Q1', 'Q2', 'Q3', 'Q4', 'Q5']].mean(axis=1)
office_exit_db['average'] = office_exit_db[['Q1', 'Q2', 'Q3', 'Q4', 'Q5']].mean(axis=1)

In [6]:
office_entry_db['overall_score'] = office_entry_db.apply(lambda row: 1 if row['average'] >= 0.5 else 0, axis=1)
office_exit_db['overall_score'] = office_exit_db.apply(lambda row: 1 if row['average'] >= 0.5 else 0, axis=1)

In [7]:
def assign_doctor(row):
    row = random.randint(1,5)
    return row

In [8]:
office_entry_db['doctor'] = 1
office_entry_db['doctor'] = office_entry_db.doctor.apply(assign_doctor)
office_exit_db['doctor'] = office_entry_db['doctor']

In [9]:
office_exit_db.head()

   Q1  Q2  Q3  Q4  Q5  patient_id  average  overall_score  doctor
0   1   0   1   1   0         243      0.6              1       1
1   1   0   0   1   0         107      0.4              0       2
2   0   0   1   1   1           5      0.6              1       5
3   0   0   1   1   1         145      0.6              1       1
4   0   0   0   1   1         556      0.4              0       1

In [10]:
office_entry_db.head()

   Q1  Q2  Q3  Q4  Q5  patient_id  average  overall_score  doctor
0   1   0   0   1   1         243      0.6              1       1
1   0   1   1   0   0         107      0.4              0       2
2   1   1   0   1   1           5      0.8              1       5
3   0   1   1   1   0         145      0.6              1       1
4   0   0   0   1   0         556      0.2              0       1

In [11]:
def get_visit_date(row): 
    start_date = date.today().replace(day=1, month=1).toordinal()
    end_date = date.today().toordinal()
    random_day = date.fromordinal(random.randint(start_date, end_date))
    row = random_day
    return row

In [12]:
office_entry_db['visit_date'] = 1
office_exit_db['visit_date'] = 1

In [13]:
office_exit_db

,Q1,Q2,Q3,Q4,Q5,patient_id,average,overall_score,doctor,visit_date
0,1,0,1,1,0,243,0.6,1,1,1
1,1,0,0,1,0,107,0.4,0,2,1
2,0,0,1,1,1,5,0.6,1,5,1
3,0,0,1,1,1,145,0.6,1,1,1
4,0,0,0,1,1,556,0.4,0,1,1
5,1,0,0,0,0,578,0.2,0,2,1
6,1,0,0,1,1,189,0.6,1,2,1
7,1,1,1,1,0,577,0.8,1,3,1
8,1,1,1,1,0,3,0.8,1,1,1
9,1,0,1,1,1,286,0.8,1,4,1
10,0,0,0,1,0,222,0.2,0,1,1
11,0,0,1,1,0,340,0.4,0,3,1
12,1,1,1,1,1,82,1.0,1,1,1
13,1,0,0,1,0,1,0.4,0,4,1
14,1,0,0,1,0,155,0.4,0,1,1
15,1,0,0,1,1,303,0.6,1,5,1
16,0,1,1,1,1,468,0.8,1,3,1
17,0,0,0,1,1,234,0.4,0,3,1
18,0,0,0,1,0,311,0.2,0,1,1
19,0,0,1,1,0,11,0.4,0,4,1
20,1,0,1,1,1,141,0.8,1,2,1
21,1,1,0,1,1,506,0.8,1,4,1
22,1,0,0,1,1,443,0.6,1,5,1
23,1,0,0,1,0,407,0.4,0,2,1
24,1,0,1,0,1,197,0.6,1,5,1
25,1,1,1,1,1,230,1.0,1,5,1
26,1,1,0,1,1,452,0.8,1,2,1
27,1,1,1,1,0,6,0.8,1,3,1
28,0,1,0,1,0,596,0.4,0,4,1
29,0,0,1,1,1,510,0.6,1,5,1
...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,1,0,268,0.4,0,3,1
571,1,1,1,1,0,534,0.8,1,3,1
572,1,0,1,1,1,19,0.8,1,1,1
573,0,0,0,1,0,16,0.2,0,4,1
574,1,0,1,1,1,458,0.8,1,2,1
575,1,1,0,1,0,205,0.6,1,4,1
576,1,1,1,1,1,39,1.0,1,4,1
577,1,0,0,1,0,281,0.4,0,2,1
578,0,0,0,1,0,480,0.2,0,5,1
579,0,1,1,1,1,152,0.8,1,5,1
580,1,1,1,1,1,346,1.0,1,3,1
581,1,1,0,1,1,246,0.8,1,1,1
582,1,0,1,1,1,136,0.8,1,5,1
583,0,0,0,1,0,265,0.2,0,1,1
584,0,0,0,1,1,404,0.4,0,5,1
585,0,0,1,1,1,153,0.6,1,4,1
586,0,0,1,1,1,33,0.6,1,5,1
587,1,0,1,1,0,262,0.6,1,5,1
588,1,1,0,1,0,16,0.6,1,1,1
589,0,0,0,1,0,166,0.2,0,3,1
590,0,0,1,1,0,22,0.4,0,1,1
591,1,1,0,1,1,512,0.8,1,2,1
592,0,0,1,1,0,150,0.4,0,3,1
593,1,0,1,1,0,195,0.6,1,3,1
594,0,0,1,1,0,41,0.4,0,2,1
595,0,0,1,1,0,380,0.4,0,4,1
596,1,0,1,1,1,204,0.8,1,3,1
597,1,1,0,1,0,561,0.6,1,3,1
598,1,1,0,1,1,268,0.8,1,4,1
599,0,0,1,1,0,74,0.4,0,3,1

In [14]:
office_entry_db

,Q1,Q2,Q3,Q4,Q5,patient_id,average,overall_score,doctor,visit_date
0,1,0,0,1,1,243,0.6,1,1,1
1,0,1,1,0,0,107,0.4,0,2,1
2,1,1,0,1,1,5,0.8,1,5,1
3,0,1,1,1,0,145,0.6,1,1,1
4,0,0,0,1,0,556,0.2,0,1,1
5,1,1,0,1,1,578,0.8,1,2,1
6,1,0,1,1,0,189,0.6,1,2,1
7,1,1,0,1,0,577,0.6,1,3,1
8,0,0,1,1,1,3,0.6,1,1,1
9,1,1,0,1,1,286,0.8,1,4,1
10,1,0,1,1,1,222,0.8,1,1,1
11,1,0,1,1,0,340,0.6,1,3,1
12,0,1,0,1,0,82,0.4,0,1,1
13,1,1,0,1,1,1,0.8,1,4,1
14,1,1,0,1,0,155,0.6,1,1,1
15,0,0,1,1,1,303,0.6,1,5,1
16,1,1,0,1,0,468,0.6,1,3,1
17,1,1,0,1,1,234,0.8,1,3,1
18,1,1,0,1,1,311,0.8,1,1,1
19,1,0,0,1,0,11,0.4,0,4,1
20,0,1,0,1,1,141,0.6,1,2,1
21,1,1,1,1,0,506,0.8,1,4,1
22,1,1,1,1,0,443,0.8,1,5,1
23,1,1,0,1,0,407,0.6,1,2,1
24,1,0,0,1,0,197,0.4,0,5,1
25,1,1,1,1,0,230,0.8,1,5,1
26,1,0,0,1,0,452,0.4,0,2,1
27,1,0,0,1,0,6,0.4,0,3,1
28,1,0,0,1,0,596,0.4,0,4,1
29,1,0,0,1,1,510,0.6,1,5,1
...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,0,1,268,0.4,0,3,1
571,1,1,1,1,1,534,1.0,1,3,1
572,1,1,0,1,0,19,0.6,1,1,1
573,1,0,0,1,1,16,0.6,1,4,1
574,1,0,0,1,0,458,0.4,0,2,1
575,0,0,0,1,1,205,0.4,0,4,1
576,1,0,0,1,1,39,0.6,1,4,1
577,0,0,0,1,0,281,0.2,0,2,1
578,1,1,0,1,1,480,0.8,1,5,1
579,0,1,0,1,1,152,0.6,1,5,1
580,0,0,0,1,1,346,0.4,0,3,1
581,0,1,0,1,1,246,0.6,1,1,1
582,1,1,1,1,1,136,1.0,1,5,1
583,1,0,0,1,0,265,0.4,0,1,1
584,1,1,0,1,0,404,0.6,1,5,1
585,1,1,0,1,0,153,0.6,1,4,1
586,1,0,1,1,1,33,0.8,1,5,1
587,1,1,0,1,0,262,0.6,1,5,1
588,1,0,0,1,0,16,0.4,0,1,1
589,0,0,0,1,1,166,0.4,0,3,1
590,1,1,0,1,1,22,0.8,1,1,1
591,1,1,1,1,0,512,0.8,1,2,1
592,1,1,0,1,0,150,0.6,1,3,1
593,1,1,0,1,1,195,0.8,1,3,1
594,1,1,1,1,1,41,1.0,1,2,1
595,0,1,1,1,0,380,0.6,1,4,1
596,1,0,0,1,0,204,0.4,0,3,1
597,1,0,0,1,0,561,0.4,0,3,1
598,0,1,0,0,1,268,0.4,0,4,1
599,0,0,1,1,0,74,0.4,0,3,1

In [15]:
office_entry_db['visit_date'] = office_entry_db.applymap(get_visit_date)
office_exit_db['visit_date'] = office_exit_db.applymap(get_visit_date)

In [16]:
#Visualization 
office_exit_db

,Q1,Q2,Q3,Q4,Q5,patient_id,average,overall_score,doctor,visit_date
0,1,0,1,1,0,243,0.6,1,1,2017-02-07
1,1,0,0,1,0,107,0.4,0,2,2017-01-26
2,0,0,1,1,1,5,0.6,1,5,2017-01-18
3,0,0,1,1,1,145,0.6,1,1,2017-04-04
4,0,0,0,1,1,556,0.4,0,1,2017-04-06
5,1,0,0,0,0,578,0.2,0,2,2017-04-05
6,1,0,0,1,1,189,0.6,1,2,2017-02-16
7,1,1,1,1,0,577,0.8,1,3,2017-03-18
8,1,1,1,1,0,3,0.8,1,1,2017-01-14
9,1,0,1,1,1,286,0.8,1,4,2017-04-08
10,0,0,0,1,0,222,0.2,0,1,2017-04-06
11,0,0,1,1,0,340,0.4,0,3,2017-04-21
12,1,1,1,1,1,82,1.0,1,1,2017-03-25
13,1,0,0,1,0,1,0.4,0,4,2017-02-04
14,1,0,0,1,0,155,0.4,0,1,2017-03-16
15,1,0,0,1,1,303,0.6,1,5,2017-03-22
16,0,1,1,1,1,468,0.8,1,3,2017-02-20
17,0,0,0,1,1,234,0.4,0,3,2017-01-17
18,0,0,0,1,0,311,0.2,0,1,2017-01-21
19,0,0,1,1,0,11,0.4,0,4,2017-04-14
20,1,0,1,1,1,141,0.8,1,2,2017-04-03
21,1,1,0,1,1,506,0.8,1,4,2017-04-23
22,1,0,0,1,1,443,0.6,1,5,2017-04-15
23,1,0,0,1,0,407,0.4,0,2,2017-01-05
24,1,0,1,0,1,197,0.6,1,5,2017-04-17
25,1,1,1,1,1,230,1.0,1,5,2017-03-05
26,1,1,0,1,1,452,0.8,1,2,2017-04-01
27,1,1,1,1,0,6,0.8,1,3,2017-01-06
28,0,1,0,1,0,596,0.4,0,4,2017-04-08
29,0,0,1,1,1,510,0.6,1,5,2017-02-09
...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,1,0,268,0.4,0,3,2017-03-19
571,1,1,1,1,0,534,0.8,1,3,2017-02-19
572,1,0,1,1,1,19,0.8,1,1,2017-04-28
573,0,0,0,1,0,16,0.2,0,4,2017-03-05
574,1,0,1,1,1,458,0.8,1,2,2017-01-05
575,1,1,0,1,0,205,0.6,1,4,2017-02-14
576,1,1,1,1,1,39,1.0,1,4,2017-03-02
577,1,0,0,1,0,281,0.4,0,2,2017-01-20
578,0,0,0,1,0,480,0.2,0,5,2017-02-28
579,0,1,1,1,1,152,0.8,1,5,2017-04-11
580,1,1,1,1,1,346,1.0,1,3,2017-03-22
581,1,1,0,1,1,246,0.8,1,1,2017-03-16
582,1,0,1,1,1,136,0.8,1,5,2017-02-04
583,0,0,0,1,0,265,0.2,0,1,2017-01-12
584,0,0,0,1,1,404,0.4,0,5,2017-04-21
585,0,0,1,1,1,153,0.6,1,4,2017-03-12
586,0,0,1,1,1,33,0.6,1,5,2017-04-05
587,1,0,1,1,0,262,0.6,1,5,2017-02-06
588,1,1,0,1,0,16,0.6,1,1,2017-01-07
589,0,0,0,1,0,166,0.2,0,3,2017-02-21
590,0,0,1,1,0,22,0.4,0,1,2017-01-08
591,1,1,0,1,1,512,0.8,1,2,2017-02-21
592,0,0,1,1,0,150,0.4,0,3,2017-04-02
593,1,0,1,1,0,195,0.6,1,3,2017-01-23
594,0,0,1,1,0,41,0.4,0,2,2017-04-05
595,0,0,1,1,0,380,0.4,0,4,2017-01-09
596,1,0,1,1,1,204,0.8,1,3,2017-01-27
597,1,1,0,1,0,561,0.6,1,3,2017-01-16
598,1,1,0,1,1,268,0.8,1,4,2017-02-05
599,0,0,1,1,0,74,0.4,0,3,2017-04-15

In [17]:
office_entry_db['day'] = office_entry_db['visit_date'].apply(lambda x: x.day)
office_entry_db['month'] = office_entry_db['visit_date'].apply(lambda x: x.month)
office_entry_db['year'] = office_entry_db['visit_date'].apply(lambda x: x.year)
office_entry_db['weekday'] = office_entry_db['visit_date'].apply(lambda x: x.weekday())

In [18]:
office_exit_db['day'] = office_exit_db['visit_date'].apply(lambda x: x.day)
office_exit_db['month'] = office_exit_db['visit_date'].apply(lambda x: x.month)
office_exit_db['year'] = office_exit_db['visit_date'].apply(lambda x: x.year)
office_exit_db['weekday'] = office_exit_db['visit_date'].apply(lambda x: x.weekday())

In [19]:
office_entry_db

,Q1,Q2,Q3,Q4,Q5,patient_id,average,overall_score,doctor,visit_date,day,month,year,weekday
0,1,0,0,1,1,243,0.6,1,1,2017-02-04,4,2,2017,5
1,0,1,1,0,0,107,0.4,0,2,2017-04-14,14,4,2017,4
2,1,1,0,1,1,5,0.8,1,5,2017-03-20,20,3,2017,0
3,0,1,1,1,0,145,0.6,1,1,2017-04-26,26,4,2017,2
4,0,0,0,1,0,556,0.2,0,1,2017-01-31,31,1,2017,1
5,1,1,0,1,1,578,0.8,1,2,2017-04-27,27,4,2017,3
6,1,0,1,1,0,189,0.6,1,2,2017-01-12,12,1,2017,3
7,1,1,0,1,0,577,0.6,1,3,2017-01-19,19,1,2017,3
8,0,0,1,1,1,3,0.6,1,1,2017-02-24,24,2,2017,4
9,1,1,0,1,1,286,0.8,1,4,2017-04-08,8,4,2017,5
10,1,0,1,1,1,222,0.8,1,1,2017-03-01,1,3,2017,2
11,1,0,1,1,0,340,0.6,1,3,2017-01-21,21,1,2017,5
12,0,1,0,1,0,82,0.4,0,1,2017-01-29,29,1,2017,6
13,1,1,0,1,1,1,0.8,1,4,2017-04-23,23,4,2017,6
14,1,1,0,1,0,155,0.6,1,1,2017-01-12,12,1,2017,3
15,0,0,1,1,1,303,0.6,1,5,2017-03-23,23,3,2017,3
16,1,1,0,1,0,468,0.6,1,3,2017-04-12,12,4,2017,2
17,1,1,0,1,1,234,0.8,1,3,2017-01-14,14,1,2017,5
18,1,1,0,1,1,311,0.8,1,1,2017-02-08,8,2,2017,2
19,1,0,0,1,0,11,0.4,0,4,2017-04-17,17,4,2017,0
20,0,1,0,1,1,141,0.6,1,2,2017-01-04,4,1,2017,2
21,1,1,1,1,0,506,0.8,1,4,2017-01-31,31,1,2017,1
22,1,1,1,1,0,443,0.8,1,5,2017-02-28,28,2,2017,1
23,1,1,0,1,0,407,0.6,1,2,2017-01-26,26,1,2017,3
24,1,0,0,1,0,197,0.4,0,5,2017-01-19,19,1,2017,3
25,1,1,1,1,0,230,0.8,1,5,2017-02-24,24,2,2017,4
26,1,0,0,1,0,452,0.4,0,2,2017-04-07,7,4,2017,4
27,1,0,0,1,0,6,0.4,0,3,2017-04-13,13,4,2017,3
28,1,0,0,1,0,596,0.4,0,4,2017-02-12,12,2,2017,6
29,1,0,0,1,1,510,0.6,1,5,2017-03-12,12,3,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,0,1,268,0.4,0,3,2017-04-15,15,4,2017,5
571,1,1,1,1,1,534,1.0,1,3,2017-01-11,11,1,2017,2
572,1,1,0,1,0,19,0.6,1,1,2017-01-27,27,1,2017,4
573,1,0,0,1,1,16,0.6,1,4,2017-01-05,5,1,2017,3
574,1,0,0,1,0,458,0.4,0,2,2017-03-19,19,3,2017,6
575,0,0,0,1,1,205,0.4,0,4,2017-02-08,8,2,2017,2
576,1,0,0,1,1,39,0.6,1,4,2017-02-26,26,2,2017,6
577,0,0,0,1,0,281,0.2,0,2,2017-04-23,23,4,2017,6
578,1,1,0,1,1,480,0.8,1,5,2017-03-05,5,3,2017,6
579,0,1,0,1,1,152,0.6,1,5,2017-04-21,21,4,2017,4
580,0,0,0,1,1,346,0.4,0,3,2017-02-15,15,2,2017,2
581,0,1,0,1,1,246,0.6,1,1,2017-04-12,12,4,2017,2
582,1,1,1,1,1,136,1.0,1,5,2017-04-02,2,4,2017,6
583,1,0,0,1,0,265,0.4,0,1,2017-02-14,14,2,2017,1
584,1,1,0,1,0,404,0.6,1,5,2017-01-21,21,1,2017,5
585,1,1,0,1,0,153,0.6,1,4,2017-01-02,2,1,2017,0
586,1,0,1,1,1,33,0.8,1,5,2017-04-05,5,4,2017,2
587,1,1,0,1,0,262,0.6,1,5,2017-01-18,18,1,2017,2
588,1,0,0,1,0,16,0.4,0,1,2017-01-16,16,1,2017,0
589,0,0,0,1,1,166,0.4,0,3,2017-02-26,26,2,2017,6
590,1,1,0,1,1,22,0.8,1,1,2017-01-18,18,1,2017,2
591,1,1,1,1,0,512,0.8,1,2,2017-04-25,25,4,2017,1
592,1,1,0,1,0,150,0.6,1,3,2017-04-02,2,4,2017,6
593,1,1,0,1,1,195,0.8,1,3,2017-04-14,14,4,2017,4
594,1,1,1,1,1,41,1.0,1,2,2017-03-16,16,3,2017,3
595,0,1,1,1,0,380,0.6,1,4,2017-02-22,22,2,2017,2
596,1,0,0,1,0,204,0.4,0,3,2017-01-07,7,1,2017,5
597,1,0,0,1,0,561,0.4,0,3,2017-04-12,12,4,2017,2
598,0,1,0,0,1,268,0.4,0,4,2017-03-25,25,3,2017,5
599,0,0,1,1,0,74,0.4,0,3,2017-01-15,15,1,2017,6

In [20]:
office_exit_db

,Q1,Q2,Q3,Q4,Q5,patient_id,average,overall_score,doctor,visit_date,day,month,year,weekday
0,1,0,1,1,0,243,0.6,1,1,2017-02-07,7,2,2017,1
1,1,0,0,1,0,107,0.4,0,2,2017-01-26,26,1,2017,3
2,0,0,1,1,1,5,0.6,1,5,2017-01-18,18,1,2017,2
3,0,0,1,1,1,145,0.6,1,1,2017-04-04,4,4,2017,1
4,0,0,0,1,1,556,0.4,0,1,2017-04-06,6,4,2017,3
5,1,0,0,0,0,578,0.2,0,2,2017-04-05,5,4,2017,2
6,1,0,0,1,1,189,0.6,1,2,2017-02-16,16,2,2017,3
7,1,1,1,1,0,577,0.8,1,3,2017-03-18,18,3,2017,5
8,1,1,1,1,0,3,0.8,1,1,2017-01-14,14,1,2017,5
9,1,0,1,1,1,286,0.8,1,4,2017-04-08,8,4,2017,5
10,0,0,0,1,0,222,0.2,0,1,2017-04-06,6,4,2017,3
11,0,0,1,1,0,340,0.4,0,3,2017-04-21,21,4,2017,4
12,1,1,1,1,1,82,1.0,1,1,2017-03-25,25,3,2017,5
13,1,0,0,1,0,1,0.4,0,4,2017-02-04,4,2,2017,5
14,1,0,0,1,0,155,0.4,0,1,2017-03-16,16,3,2017,3
15,1,0,0,1,1,303,0.6,1,5,2017-03-22,22,3,2017,2
16,0,1,1,1,1,468,0.8,1,3,2017-02-20,20,2,2017,0
17,0,0,0,1,1,234,0.4,0,3,2017-01-17,17,1,2017,1
18,0,0,0,1,0,311,0.2,0,1,2017-01-21,21,1,2017,5
19,0,0,1,1,0,11,0.4,0,4,2017-04-14,14,4,2017,4
20,1,0,1,1,1,141,0.8,1,2,2017-04-03,3,4,2017,0
21,1,1,0,1,1,506,0.8,1,4,2017-04-23,23,4,2017,6
22,1,0,0,1,1,443,0.6,1,5,2017-04-15,15,4,2017,5
23,1,0,0,1,0,407,0.4,0,2,2017-01-05,5,1,2017,3
24,1,0,1,0,1,197,0.6,1,5,2017-04-17,17,4,2017,0
25,1,1,1,1,1,230,1.0,1,5,2017-03-05,5,3,2017,6
26,1,1,0,1,1,452,0.8,1,2,2017-04-01,1,4,2017,5
27,1,1,1,1,0,6,0.8,1,3,2017-01-06,6,1,2017,4
28,0,1,0,1,0,596,0.4,0,4,2017-04-08,8,4,2017,5
29,0,0,1,1,1,510,0.6,1,5,2017-02-09,9,2,2017,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,1,0,268,0.4,0,3,2017-03-19,19,3,2017,6
571,1,1,1,1,0,534,0.8,1,3,2017-02-19,19,2,2017,6
572,1,0,1,1,1,19,0.8,1,1,2017-04-28,28,4,2017,4
573,0,0,0,1,0,16,0.2,0,4,2017-03-05,5,3,2017,6
574,1,0,1,1,1,458,0.8,1,2,2017-01-05,5,1,2017,3
575,1,1,0,1,0,205,0.6,1,4,2017-02-14,14,2,2017,1
576,1,1,1,1,1,39,1.0,1,4,2017-03-02,2,3,2017,3
577,1,0,0,1,0,281,0.4,0,2,2017-01-20,20,1,2017,4
578,0,0,0,1,0,480,0.2,0,5,2017-02-28,28,2,2017,1
579,0,1,1,1,1,152,0.8,1,5,2017-04-11,11,4,2017,1
580,1,1,1,1,1,346,1.0,1,3,2017-03-22,22,3,2017,2
581,1,1,0,1,1,246,0.8,1,1,2017-03-16,16,3,2017,3
582,1,0,1,1,1,136,0.8,1,5,2017-02-04,4,2,2017,5
583,0,0,0,1,0,265,0.2,0,1,2017-01-12,12,1,2017,3
584,0,0,0,1,1,404,0.4,0,5,2017-04-21,21,4,2017,4
585,0,0,1,1,1,153,0.6,1,4,2017-03-12,12,3,2017,6
586,0,0,1,1,1,33,0.6,1,5,2017-04-05,5,4,2017,2
587,1,0,1,1,0,262,0.6,1,5,2017-02-06,6,2,2017,0
588,1,1,0,1,0,16,0.6,1,1,2017-01-07,7,1,2017,5
589,0,0,0,1,0,166,0.2,0,3,2017-02-21,21,2,2017,1
590,0,0,1,1,0,22,0.4,0,1,2017-01-08,8,1,2017,6
591,1,1,0,1,1,512,0.8,1,2,2017-02-21,21,2,2017,1
592,0,0,1,1,0,150,0.4,0,3,2017-04-02,2,4,2017,6
593,1,0,1,1,0,195,0.6,1,3,2017-01-23,23,1,2017,0
594,0,0,1,1,0,41,0.4,0,2,2017-04-05,5,4,2017,2
595,0,0,1,1,0,380,0.4,0,4,2017-01-09,9,1,2017,0
596,1,0,1,1,1,204,0.8,1,3,2017-01-27,27,1,2017,4
597,1,1,0,1,0,561,0.6,1,3,2017-01-16,16,1,2017,0
598,1,1,0,1,1,268,0.8,1,4,2017-02-05,5,2,2017,6
599,0,0,1,1,0,74,0.4,0,3,2017-04-15,15,4,2017,5

In [21]:
#Do a Database Join 
total_office_scores = office_entry_db.join(office_exit_db, on='patient_id', how='left',lsuffix='_entry', rsuffix='_exit',sort=False)

In [22]:
total_office_scores

,Q1_entry,Q2_entry,Q3_entry,Q4_entry,Q5_entry,patient_id_entry,average_entry,overall_score_entry,doctor_entry,visit_date_entry,...,Q5_exit,patient_id_exit,average_exit,overall_score_exit,doctor_exit,visit_date_exit,day_exit,month_exit,year_exit,weekday_exit
0,1,0,0,1,1,243,0.6,1,1,2017-02-04,...,1.0,464.0,0.8,1.0,4.0,2017-02-26,26.0,2.0,2017.0,6.0
1,0,1,1,0,0,107,0.4,0,2,2017-04-14,...,1.0,34.0,1.0,1.0,2.0,2017-04-08,8.0,4.0,2017.0,5.0
2,1,1,0,1,1,5,0.8,1,5,2017-03-20,...,0.0,578.0,0.2,0.0,2.0,2017-04-05,5.0,4.0,2017.0,2.0
3,0,1,1,1,0,145,0.6,1,1,2017-04-26,...,1.0,137.0,0.8,1.0,3.0,2017-02-25,25.0,2.0,2017.0,5.0
4,0,0,0,1,0,556,0.2,0,1,2017-01-31,...,1.0,389.0,0.8,1.0,3.0,2017-01-14,14.0,1.0,2017.0,5.0
5,1,1,0,1,1,578,0.8,1,2,2017-04-27,...,0.0,480.0,0.2,0.0,5.0,2017-02-28,28.0,2.0,2017.0,1.0
6,1,0,1,1,0,189,0.6,1,2,2017-01-12,...,1.0,385.0,0.6,1.0,2.0,2017-02-22,22.0,2.0,2017.0,2.0
7,1,1,0,1,0,577,0.6,1,3,2017-01-19,...,0.0,281.0,0.4,0.0,2.0,2017-01-20,20.0,1.0,2017.0,4.0
8,0,0,1,1,1,3,0.6,1,1,2017-02-24,...,1.0,145.0,0.6,1.0,1.0,2017-04-04,4.0,4.0,2017.0,1.0
9,1,1,0,1,1,286,0.8,1,4,2017-04-08,...,1.0,351.0,0.6,1.0,5.0,2017-02-22,22.0,2.0,2017.0,2.0
10,1,0,1,1,1,222,0.8,1,1,2017-03-01,...,0.0,543.0,0.4,0.0,3.0,2017-03-22,22.0,3.0,2017.0,2.0
11,1,0,1,1,0,340,0.6,1,3,2017-01-21,...,1.0,440.0,0.8,1.0,2.0,2017-03-10,10.0,3.0,2017.0,4.0
12,0,1,0,1,0,82,0.4,0,1,2017-01-29,...,0.0,400.0,0.2,0.0,4.0,2017-03-24,24.0,3.0,2017.0,4.0
13,1,1,0,1,1,1,0.8,1,4,2017-04-23,...,0.0,107.0,0.4,0.0,2.0,2017-01-26,26.0,1.0,2017.0,3.0
14,1,1,0,1,0,155,0.6,1,1,2017-01-12,...,0.0,280.0,0.0,0.0,3.0,2017-04-19,19.0,4.0,2017.0,2.0
15,0,0,1,1,1,303,0.6,1,5,2017-03-23,...,0.0,232.0,0.4,0.0,5.0,2017-01-05,5.0,1.0,2017.0,3.0
16,1,1,0,1,0,468,0.6,1,3,2017-04-12,...,1.0,378.0,0.8,1.0,1.0,2017-02-01,1.0,2.0,2017.0,2.0
17,1,1,0,1,1,234,0.8,1,3,2017-01-14,...,0.0,205.0,0.4,0.0,4.0,2017-04-13,13.0,4.0,2017.0,3.0
18,1,1,0,1,1,311,0.8,1,1,2017-02-08,...,1.0,311.0,1.0,1.0,4.0,2017-01-08,8.0,1.0,2017.0,6.0
19,1,0,0,1,0,11,0.4,0,4,2017-04-17,...,0.0,340.0,0.4,0.0,3.0,2017-04-21,21.0,4.0,2017.0,4.0
20,0,1,0,1,1,141,0.6,1,2,2017-01-04,...,1.0,489.0,0.8,1.0,2.0,2017-03-22,22.0,3.0,2017.0,2.0
21,1,1,1,1,0,506,0.8,1,4,2017-01-31,...,1.0,433.0,0.6,1.0,5.0,2017-04-26,26.0,4.0,2017.0,2.0
22,1,1,1,1,0,443,0.8,1,5,2017-02-28,...,0.0,512.0,0.6,1.0,1.0,2017-01-07,7.0,1.0,2017.0,5.0
23,1,1,0,1,0,407,0.6,1,2,2017-01-26,...,1.0,7.0,0.4,0.0,5.0,2017-01-18,18.0,1.0,2017.0,2.0
24,1,0,0,1,0,197,0.4,0,5,2017-01-19,...,1.0,472.0,0.8,1.0,1.0,2017-01-10,10.0,1.0,2017.0,1.0
25,1,1,1,1,0,230,0.8,1,5,2017-02-24,...,0.0,396.0,0.4,0.0,1.0,2017-04-29,29.0,4.0,2017.0,5.0
26,1,0,0,1,0,452,0.4,0,2,2017-04-07,...,0.0,58.0,0.6,1.0,3.0,2017-03-19,19.0,3.0,2017.0,6.0
27,1,0,0,1,0,6,0.4,0,3,2017-04-13,...,1.0,189.0,0.6,1.0,2.0,2017-02-16,16.0,2.0,2017.0,3.0
28,1,0,0,1,0,596,0.4,0,4,2017-02-12,...,1.0,204.0,0.8,1.0,3.0,2017-01-27,27.0,1.0,2017.0,4.0
29,1,0,0,1,1,510,0.6,1,5,2017-03-12,...,0.0,362.0,0.4,0.0,1.0,2017-02-14,14.0,2.0,2017.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,1,0,0,0,1,268,0.4,0,3,2017-04-15,...,1.0,209.0,0.8,1.0,2.0,2017-04-01,1.0,4.0,2017.0,5.0
571,1,1,1,1,1,534,1.0,1,3,2017-01-11,...,1.0,111.0,0.8,1.0,3.0,2017-03-26,26.0,3.0,2017.0,6.0
572,1,1,0,1,0,19,0.6,1,1,2017-01-27,...,0.0,11.0,0.4,0.0,4.0,2017-04-14,14.0,4.0,2017.0,4.0
573,1,0,0,1,1,16,0.6,1,4,2017-01-05,...,1.0,468.0,0.8,1.0,3.0,2017-02-20,20.0,2.0,2017.0,0.0
574,1,0,0,1,0,458,0.4,0,2,2017-03-19,...,0.0,91.0,0.4,0.0,5.0,2017-02-10,10.0,2.0,2017.0,4.0
575,0,0,0,1,1,205,0.4,0,4,2017-02-08,...,1.0,367.0,0.8,1.0,2.0,2017-01-04,4.0,1.0,2017.0,2.0
576,1,0,0,1,1,39,0.6,1,4,2017-02-26,...,1.0,341.0,0.8,1.0,4.0,2017-04-01,1.0,4.0,2017.0,5.0
577,0,0,0,1,0,281,0.2,0,2,2017-04-23,...,0.0,594.0,0.4,0.0,5.0,2017-03-28,28.0,3.0,2017.0,1.0
578,1,1,0,1,1,480,0.8,1,5,2017-03-05,...,0.0,248.0,0.6,1.0,4.0,2017-04-15,15.0,4.0,2017.0,5.0
579,0,1,0,1,1,152,0.6,1,5,2017-04-21,...,1.0,80.0,0.8,1.0,5.0,2017-04-10,10.0,4.0,2017.0,0.0
580,0,0,0,1,1,346,0.4,0,3,2017-02-15,...,1.0,280.0,0.4,0.0,3.0,2017-04-21,21.0,4.0,2017.0,4.0
581,0,1,0,1,1,246,0.6,1,1,2017-04-12,...,1.0,406.0,0.8,1.0,2.0,2017-04-26,26.0,4.0,2017.0,2.0
582,1,1,1,1,1,136,1.0,1,5,2017-04-02,...,0.0,400.0,0.6,1.0,1.0,2017-04-01,1.0,4.0,2017.0,5.0
583,1,0,0,1,0,265,0.4,0,1,2017-02-14,...,0.0,383.0,0.6,1.0,1.0,2017-02-22,22.0,2.0,2017.0,2.0
584,1,1,0,1,0,404,0.6,1,5,2017-01-21,...,0.0,448.0,0.8,1.0,4.0,2017-01-11,11.0,1.0,2017.0,2.0
585,1,1,0,1,0,153,0.6,1,4,2017-01-02,...,0.0,406.0,0.4,0.0,5.0,2017-03-30,30.0,3.0,2017.0,3.0
586,1,0,1,1,1,33,0.8,1,5,2017-04-05,...,0.0,197.0,0.4,0.0,3.0,2017-01-31,31.0,1.0,2017.0,1.0
587,1,1,0,1,0,262,0.6,1,5,2017-01-18,...,1.0,342.0,0.8,1.0,5.0,2017-03-27,27.0,3.0,2017.0,0.0
588,1,0,0,1,0,16,0.4,0,1,2017-01-16,...,1.0,468.0,0.8,1.0,3.0,2017-02-20,20.0,2.0,2017.0,0.0
589,0,0,0,1,1,166,0.4,0,3,2017-02-26,...,1.0,550.0,0.4,0.0,2.0,2017-01-30,30.0,1.0,2017.0,0.0
590,1,1,0,1,1,22,0.8,1,1,2017-01-18,...,1.0,443.0,0.6,1.0,5.0,2017-04-15,15.0,4.0,2017.0,5.0
591,1,1,1,1,0,512,0.8,1,2,2017-04-25,...,0.0,11.0,0.6,1.0,3.0,2017-02-16,16.0,2.0,2017.0,3.0
592,1,1,0,1,0,150,0.6,1,3,2017-04-02,...,0.0,487.0,0.4,0.0,2.0,2017-03-03,3.0,3.0,2017.0,4.0
593,1,1,0,1,1,195,0.8,1,3,2017-04-14,...,1.0,440.0,0.8,1.0,2.0,2017-02-19,19.0,2.0,2017.0,6.0
594,1,1,1,1,1,41,1.0,1,2,2017-03-16,...,1.0,189.0,0.6,1.0,4.0,2017-03-14,14.0,3.0,2017.0,1.0
595,0,1,1,1,0,380,0.6,1,4,2017-02-22,...,1.0,316.0,0.4,0.0,4.0,2017-03-05,5.0,3.0,2017.0,6.0
596,1,0,0,1,0,204,0.4,0,3,2017-01-07,...,0.0,376.0,0.6,1.0,1.0,2017-04-19,19.0,4.0,2017.0,2.0
597,1,0,0,1,0,561,0.4,0,3,2017-04-12,...,1.0,584.0,0.6,1.0,1.0,2017-02-01,1.0,2.0,2017.0,2.0
598,0,1,0,0,1,268,0.4,0,4,2017-03-25,...,1.0,209.0,0.8,1.0,2.0,2017-04-01,1.0,4.0,2017.0,5.0
599,0,0,1,1,0,74,0.4,0,3,2017-01-15,...,0.0,557.0,0.4,0.0,5.0,2017-04-04,4.0,4.0,2017.0,1.0

In [134]:
#Visualizations

months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
day = range(1, 32)
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

#Office Entry vs Office Exit 

trace1 = go.Bar(
    x=['Bad', 'Good'],
    y=list(office_entry_db.groupby('overall_score').count()['Q1']),
    name='Office Entry'
)
trace2 = go.Bar(
    x=['Bad', 'Good'],
    y=list(office_exit_db.groupby('overall_score').count()['Q1']),
    name='Office Exit'
)

data = [trace1, trace2]
layout = go.Layout(
    barmode='group', 
    title = 'Patient Mood per Stage', 
    xaxis = dict(title = 'Sentiment'),
    yaxis = dict(title = 'Number of Patients')
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='grouped-bar')

In [96]:
#Simple Confusion Matrix
trace = go.Heatmap(z=[[57, 142], [97, 303]],
                   x=['Bad', 'Good'],
                   y=['Bad', 'Good'])
data=[trace]
py.iplot(data, filename='labelled-heatmap')

In [106]:
list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 1')['Q1_entry'])

[13, 24, 25, 62]

In [132]:
#Doctors Satisfaction Count 

trace0 = go.Bar(
    x=['Bad - Bad', 'Bad - Good', 'Good - Bad', 'Good - Good'],
    y=list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 1')['Q1_entry']),
    name='Doctor One',
    marker=dict(
        color='rgb(49,130,189)'
    )
)
trace1 = go.Bar(
    x=['Bad - Bad', 'Bad - Good', 'Good - Bad', 'Good - Good'],
    y=list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 2')['Q1_entry']),
    name='Doctor Two',
    marker=dict(
        color='rgb(102, 54, 127)',
    )
)

trace2 = go.Bar(
    x=['Bad - Bad', 'Bad - Good', 'Good - Bad', 'Good - Good'],
    y=list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 3')['Q1_entry']),
    name='Doctor Three',
    marker=dict(
        color='rgb(22, 183, 38)',
    )
)


trace3 = go.Bar(
    x=['Bad - Bad', 'Bad - Good', 'Good - Bad', 'Good - Good'],
    y=list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 4')['Q1_entry']),
    name='Doctor Four',
    marker=dict(
        color='rgb(183, 22, 153)',
    )
)


trace4 = go.Bar(
    x=['Bad - Bad', 'Bad - Good', 'Good - Bad', 'Good - Good'],
    y=list(total_office_scores.groupby(['doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 5')['Q1_entry']),
    name='Doctor Five',
    marker=dict(
        color='rgb(38, 190, 201)',
    )
)


data = [trace0, trace1, trace2, trace3, trace4]
layout = go.Layout(
    title = 'Patient Satisfaction Journey',
    xaxis = dict(tickangle=-45, title = 'Satisfaction Path'),
    yaxis = dict(title = 'Number of Patients Per Score'),
    barmode='group',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='angled-text-bar')

In [118]:
#Office Exit Bar Graph 
total_office_scores.groupby(['month_entry', 'doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 5')['Q1_entry']

month_entry  doctor_entry  overall_score_entry  overall_score_exit
1            5             0                    0                      2
                                                1                      7
                           1                    0                      5
                                                1                     15
2            5             0                    0                      1
                                                1                      5
                           1                    0                      3
                                                1                     18
3            5             0                    0                      1
                                                1                      9
                           1                    0                     10
                                                1                     15
4            5             0                    0                      1
                                                1                      3
                           1                    0                      5
                                                1                     13
Name: Q1_entry, dtype: int64

In [123]:
doctor_one_scores_by_month = list(total_office_scores.groupby(['month_entry', 'doctor_entry', 'overall_score_entry', 'overall_score_exit']).count().query('doctor_entry == 5')['Q1_entry'])
doctor_one_scores_by_month[3::4]

[15, 18, 15, 13]

In [135]:
#Office Entry Bar Graph By Month

trace0 = go.Scatter(
    x=['Jan', 'Feb', 'Mar', 'Apr'],
    y=doctor_one_scores_by_month[::4],
    name='Bad to Bad',
    marker=dict(
        color='rgb(49,130,189)'
    )
)
trace1 = go.Scatter(
    x=['Jan', 'Feb', 'Mar', 'Apr'],
    y=doctor_one_scores_by_month[1::4],
    name='Bad to Good',
    marker=dict(
        color='rgb(102, 54, 127)',
    )
)

trace2 = go.Scatter(
    x=['Jan', 'Feb', 'Mar', 'Apr'],
    y=doctor_one_scores_by_month[2::4],
    name='Good to Bad',
    marker=dict(
        color='rgb(22, 183, 38)'
    )
)
trace3 = go.Scatter(
    x=['Jan', 'Feb', 'Mar', 'Apr'],
    y=doctor_one_scores_by_month[3::4],
    name='Good to Good',
    marker=dict(
        color='rgb(183, 22, 153)',
    )
)


data = [trace0, trace1,trace2, trace3]
layout = go.Layout(
    title = 'Patients Satisfaction Journey for Doctor One',
    xaxis = dict(tickangle=-45, title= 'Month'),
    yaxis = dict(title='Count of Patient'),
    barmode='group',
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Patient_Satisfaction')

In [2]:
#Tweet Sentiment Analysis - Looking at Text 
tweet_data = pd.read_csv('doctor_tweets.csv', names = ['Sentiment', '-', 'Tweet'])

In [3]:
tweet_data.head()

  Sentiment  -                                              Tweet
0  negative  -  ["I'm studying to be a doctor with a harsh, ha...
1  negative  -  ['Praise @hubblecontacts for saving my \xf0\x9...
2  negative  -  ['RT @PrensaRural: #LaESTAMPIDA por la revocat...
3  negative  -  ['RT @mtonaaguilar: Fervor, tradici\xc3\xb3n y...
4  negative  -  ["https://t.co/wcR4fD2Ak5\n\nAfter this week's...

In [65]:
pos_neg_tweet_data = tweet_data.query('Sentiment == "negative" or Sentiment == "positive"')

In [59]:
entry_pos_neg_tweet_data_subsample = pos_neg_tweet_data.sample(n=599, replace=False, random_state=42)
exit_pos_neg_tweet_data_subsample = pos_neg_tweet_data.sample(n=599, replace=False, random_state=42)

In [66]:
pos_neg_tweet_data['Sentiment_score'] = pos_neg_tweet_data['Sentiment'].map(lambda x: 1 if x == 'positive' else 0)

/Users/earlynreinhardt/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
#Bag of Words! Simple 
pos_neg_tweet_data

,Sentiment,-,Tweet,Sentiment_score
0,negative,-,"[""I'm studying to be a doctor with a harsh, ha...",0
1,negative,-,['Praise @hubblecontacts for saving my \xf0\x9...,0
2,negative,-,['RT @PrensaRural: #LaESTAMPIDA por la revocat...,0
3,negative,-,"['RT @mtonaaguilar: Fervor, tradici\xc3\xb3n y...",0
4,negative,-,"[""https://t.co/wcR4fD2Ak5\n\nAfter this week's...",0
5,negative,-,"[""Now even Kim Kardashian's doctor says her bu...",0
6,negative,-,['The Doctor || Doctor Who\n\n \xe2\x80\x94 ...,0
7,negative,-,['The doctor and he can do it all oh yeah and ...,0
8,negative,-,"[""RT @colesprouse: When the doctor asks me how...",0
9,negative,-,"[""@peterdaou Does @mtaibbi understand that peo...",0
10,negative,-,['@CapitanTOC hola buenos d\xc3\xadas mi capit...,0
11,negative,-,"[""Tu regardes Doctor Who ? Si oui t'aime bien ...",0
12,negative,-,['Doctor Who: vamos colocar um companion negra...,0
13,negative,-,"[""RT @RadioTimes: This week's #DoctorWho saw a...",0
14,negative,-,['RT @ScreenCapGuru: .@creep_it @creep_doctor ...,0
15,negative,-,"[""I'm studying to be a doctor with a harsh, ha...",0
16,negative,-,['Praise @hubblecontacts for saving my \xf0\x9...,0
17,negative,-,['RT @PrensaRural: #LaESTAMPIDA por la revocat...,0
18,negative,-,"['RT @mtonaaguilar: Fervor, tradici\xc3\xb3n y...",0
19,negative,-,"[""https://t.co/wcR4fD2Ak5\n\nAfter this week's...",0
20,negative,-,"[""Now even Kim Kardashian's doctor says her bu...",0
21,negative,-,['The Doctor || Doctor Who\n\n \xe2\x80\x94 ...,0
22,negative,-,['The doctor and he can do it all oh yeah and ...,0
23,negative,-,"[""RT @colesprouse: When the doctor asks me how...",0
24,negative,-,"[""@peterdaou Does @mtaibbi understand that peo...",0
25,negative,-,['@CapitanTOC hola buenos d\xc3\xadas mi capit...,0
26,negative,-,"[""Tu regardes Doctor Who ? Si oui t'aime bien ...",0
27,negative,-,['Doctor Who: vamos colocar um companion negra...,0
28,negative,-,"[""RT @RadioTimes: This week's #DoctorWho saw a...",0
29,negative,-,['RT @ScreenCapGuru: .@creep_it @creep_doctor ...,0
...,...,...,...,...
19937,positive,-,['watching monsta x funny videos a day keep th...,1
19939,negative,-,"['@doctor_oxford @NHAparty ""complex reasons"" n...",0
19940,positive,-,['RT @bruun_dorthe: @edjlaza o yes how are you...,1
19941,negative,-,['RT @orionacaba: To all the distraught #critt...,0
19943,negative,-,['Doctor Who S10 E3 Thin Ice Review https://t....,0
19949,negative,-,['RT @BuckyIsotope: ME: Is he going to make it...,0
19952,positive,-,['watching monsta x funny videos a day keep th...,1
19954,negative,-,"['@doctor_oxford @NHAparty ""complex reasons"" n...",0
19955,positive,-,['RT @bruun_dorthe: @edjlaza o yes how are you...,1
19956,negative,-,['RT @orionacaba: To all the distraught #critt...,0
19958,negative,-,['Doctor Who S10 E3 Thin Ice Review https://t....,0
19964,negative,-,['RT @BuckyIsotope: ME: Is he going to make it...,0
19967,positive,-,['watching monsta x funny videos a day keep th...,1
19969,negative,-,"['@doctor_oxford @NHAparty ""complex reasons"" n...",0
19970,positive,-,['RT @bruun_dorthe: @edjlaza o yes how are you...,1
19971,negative,-,['RT @orionacaba: To all the distraught #critt...,0
19973,negative,-,['Doctor Who S10 E3 Thin Ice Review https://t....,0
19979,negative,-,['RT @BuckyIsotope: ME: Is he going to make it...,0
19982,positive,-,['watching monsta x funny videos a day keep th...,1
19984,negative,-,"['@doctor_oxford @NHAparty ""complex reasons"" n...",0
19985,positive,-,['RT @bruun_dorthe: @edjlaza o yes how are you...,1
19986,negative,-,['RT @orionacaba: To all the distraught #critt...,0
19988,negative,-,['Doctor Who S10 E3 Thin Ice Review https://t....,0
19994,negative,-,['RT @BuckyIsotope: ME: Is he going to make it...,0
19997,positive,-,['watching monsta x funny videos a day keep th...,1
19999,negative,-,"['@doctor_oxford @NHAparty ""complex reasons"" n...",0
20000,positive,-,['RT @bruun_dorthe: @edjlaza o yes how are you...,1
20001,negative,-,['RT @orionacaba: To all the distraught #critt...,0
20003,negative,-,['Doctor Who S10 E3 Thin Ice Review https://t....,0
20009,negative,-,['RT @BuckyIsotope: ME: Is he going to make it...,0

In [70]:
c_vectorizer = CountVectorizer(decode_error= 'ignore', min_df = 20, ngram_range=(1,2) )
c_X = c_vectorizer.fit_transform(pos_neg_tweet_data.Tweet).toarray()

In [77]:
tSNE = TSNE(n_components=3, random_state=42)

In [78]:
tSNE_tweets = tSNE.fit_transform(c_X)

In [82]:
tSNE_tweets_with_scores = np.column_stack((tSNE_tweets,pos_neg_tweet_data['Sentiment_score'].values))

In [88]:
tsne_df = pd.DataFrame(tSNE_tweets_with_scores, columns = ['D1', 'D2', 'D3', 'Score'])

In [89]:
tsne_df

              D1         D2         D3  Score
0       1.746208 -10.592792  -9.030455    0.0
1       0.105036 -13.407832   0.306753    0.0
2      -7.674889  -9.956732   0.518595    0.0
3      -6.114563   7.945170  12.378880    0.0
4       8.282591   4.886459  14.835587    0.0
5       6.323470 -10.840482   9.946914    0.0
6      10.425945   9.308215   7.654966    0.0
7      -4.788845   1.735339 -13.159933    0.0
8      -1.409564  17.616214   7.117903    0.0
9     -10.838679 -10.383621   9.771331    0.0
10     -7.116262  -1.071035   6.489663    0.0
11     -0.968736   8.614994  -4.941519    0.0
12      7.750379   1.446125  -4.947136    0.0
13     11.598461  -6.705977  -0.755978    0.0
14      8.425947  -7.190573  -6.752965    0.0
15      1.623597 -10.098887  -8.586929    0.0
16     -0.253105 -10.344717  -0.046415    0.0
17     -5.883021  -7.044095  -0.147943    0.0
18     -1.579092   3.104670   4.577380    0.0
19      8.282619   4.886462  14.835618    0.0
20      6.337747 -10.834052   9.945720    0.0
21     10.426370   9.320199   7.658459    0.0
22     -5.056543   2.135403  -7.464452    0.0
23     -1.398741  17.270638   7.272764    0.0
24    -10.838679 -10.383621   9.771331    0.0
25     -6.863434   1.497676   4.530963    0.0
26     -0.916929   3.161057  -4.256308    0.0
27      7.649779  -3.266007  -5.969202    0.0
28     11.747856  -6.344121  -0.317063    0.0
29      8.463306  -7.216519  -6.785182    0.0
...          ...        ...        ...    ...
13977  -6.265211   2.497033  -2.783675    1.0
13978   1.508195   0.025787   2.018385    0.0
13979  -7.601311  -2.499198   1.548438    1.0
13980   4.550135  -0.791627  -8.130469    0.0
13981   3.885129   6.658399  -1.589103    0.0
13982  -3.073697   3.310479  -1.404938    0.0
13983  -8.545659   0.192659  -3.275118    1.0
13984   3.796716  -0.474243   5.221794    0.0
13985  -7.738402  -3.450193  -3.273676    1.0
13986   0.920351   2.392683  -6.671772    0.0
13987   6.193106   7.939655  -3.636930    0.0
13988 -11.756923   8.662068  -0.366643    0.0
13989 -10.878274   0.982652  -6.434583    1.0
13990   3.598884  -0.260184   9.906651    0.0
13991 -10.340761  -7.667061  -2.384747    1.0
13992   1.085782  -0.476701  -5.232273    0.0
13993   6.102282   2.639126  -1.328914    0.0
13994  -9.741522   4.933020  -0.684455    0.0
13995  -4.708091   0.205623  -4.375831    1.0
13996   3.930677  -3.353061  11.457620    0.0
13997  -5.955733  -3.845925  -2.091191    1.0
13998   3.829678  -0.353635 -11.525665    0.0
13999   7.763837   8.989682  -5.096750    0.0
14000 -11.413765   7.596757   0.539919    0.0
14001 -10.056347   0.354291  -5.924364    1.0
14002   0.289692  -1.177118   5.146948    0.0
14003  -9.664927  -8.794599  -3.359199    1.0
14004  -0.412831   2.116120  -4.447725    0.0
14005   8.246329   8.671597  -6.273270    0.0
14006 -12.056710   9.859238   0.130604    0.0

[14007 rows x 4 columns]

In [91]:
trace0 = go.Scatter3d(
    x=tsne_df.query('Score == 0.0')['D1'],
    y=tsne_df.query('Score == 0.0')['D2'],
    z=tsne_df.query('Score == 0.0')['D3'],
    name = 'Score 0',
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(217, 217, 217, 0.14)',
            width=0.5
        ),
        opacity=0.8
    )
)

trace1 = go.Scatter3d(
    x=tsne_df.query('Score == 1.0')['D1'],
    y=tsne_df.query('Score == 1.0')['D2'],
    z=tsne_df.query('Score == 1.0')['D3'],
    name = 'Score 1',
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(217, 217, 217, 0.14)',
            width=0.5
        ),
        opacity=0.8
    )
)


data = [trace0, trace1]
layout = go.Layout(
    title='Differences between Positive and Negative Feelings for Question 1', 
    font=dict(size=16, color='#7f7f7f'),
    height = 800, 
    width = 900,
    legend=dict(
        x=0,
        y=0.90,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)', 
        font=dict(
            size=14,
            color='#000'
            ),
        ),
    )



fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Differences between Positive and Negative Feelings')

In [7]:
#Smaller Sample 
sample_tsne_df = tweet_data.sample(n=200)

In [9]:
#For kicks and giggles, I want to see how the neutral scores look like. 
c_vectorizer = CountVectorizer(decode_error= 'ignore', min_df = 20, ngram_range=(1,2) )
c_X = c_vectorizer.fit_transform(sample_tsne_df.Tweet).toarray()

In [10]:
sample_tsne_df['Sentiment_score'] = sample_tsne_df['Sentiment'].map(lambda x: 1 if x == 'positive' else -1 if x == 'negative' else 0)

In [16]:
tSNE_model = TSNE(n_components=3, random_state=42)
tSNE_tweets_all = tSNE_model.fit_transform(c_X)
tSNE_tweets_all_with_scores = np.column_stack((tSNE_tweets_all,sample_tsne_df['Sentiment_score'].values))
tsne_all_df = pd.DataFrame(tSNE_tweets_all_with_scores, columns = ['D1', 'D2', 'D3', 'Score'])

In [17]:
tsne_all_df

             D1          D2         D3  Score
0     -0.154956   37.858900 -17.116246   -1.0
1      7.629307   -1.950003 -16.401159    0.0
2     22.879979   24.368328  -0.405617   -1.0
3     22.639232   -4.441329  -8.808797   -1.0
4     12.808466  -31.422360  15.136137   -1.0
5      0.454303  -22.777795  24.999724   -1.0
6      2.860567   29.155608  -2.886472   -1.0
7    -19.407496  -25.456273  -6.110827    0.0
8      4.166576    1.705105 -36.925219   -1.0
9    -12.683949  -26.087312   4.496626   -1.0
10    -7.624961    5.295230   9.770452   -1.0
11    -5.655026   20.442788 -21.057362    0.0
12     7.416795   18.562172 -48.650726    0.0
13    17.146444  -20.051623  10.507301    0.0
14   -17.852818   31.275415   7.167343   -1.0
15    15.936616   16.600332 -26.528918    0.0
16    -8.345976    8.024416   1.690694   -1.0
17     0.066403   -4.950466  67.510514    0.0
18     2.691473  -29.583707  -7.269566   -1.0
19   -33.255511  -23.592957   6.380803   -1.0
20    -1.774401   11.937898 -21.518784    0.0
21    22.098281  -28.038077   4.374418   -1.0
22    -4.697337    1.087636 -11.233842   -1.0
23     4.531215  -16.035680 -11.904811   -1.0
24     1.207022   25.888372 -25.248289    0.0
25    -4.862374  -32.130124  -1.329147   -1.0
26    13.339093   32.358459   1.680199   -1.0
27    13.973063  -63.246072  33.362100   -1.0
28    12.873417   -4.291436 -27.260449    1.0
29   -24.532082   12.747400 -20.558730   -1.0
..          ...         ...        ...    ...
170 -180.620981  188.927985 -65.559484    0.0
171   24.674463  -44.370552  23.692933    0.0
172  -33.202995   -9.397142   4.432447    0.0
173   57.521589  -65.274650  -3.642189   -1.0
174   31.488810   -7.487105   7.410847   -1.0
175  -22.396989   20.657376   0.827049    1.0
176   -5.759353   11.210682 -11.959181   -1.0
177   13.397810   24.403269   9.356617   -1.0
178    9.144150  -31.488666   0.851101   -1.0
179  -17.281260   13.104567  33.665483   -1.0
180  -12.047823   24.568280  -7.538874    0.0
181   -1.951717  -15.833033  10.534477   -1.0
182    4.553834  -11.578882 -21.627852   -1.0
183   33.361801   -0.640272   0.748743   -1.0
184   -0.419415  -25.507352  14.807018   -1.0
185    3.061846   -3.030996  -6.970508   -1.0
186  -24.006647    7.347741  24.446830    0.0
187  -28.130272   -0.654715  15.663635   -1.0
188  -14.098409    9.546577 -19.037949   -1.0
189    2.849691  -13.263050  -1.639498    0.0
190  -23.041719   57.206955 -16.859470   -1.0
191    3.490690    3.583532  12.727752   -1.0
192   31.591956  -15.747656  -5.861179   -1.0
193   28.273381    7.676059  -8.203601   -1.0
194    6.664627  -20.702978  15.728535   -1.0
195   22.849006    3.512684 -30.036379   -1.0
196  154.766950 -192.694602  67.399335   -1.0
197   25.734589   12.495955 -21.826674    0.0
198   10.578068   12.869803 -16.542013   -1.0
199   14.293647   -7.460059  -9.903859   -1.0

[200 rows x 4 columns]

In [20]:
#Very different due to adding an extra category (curse of dimensionality)

trace0 = go.Scatter3d(
    x=tsne_all_df.query('Score == 0.0')['D1'],
    y=tsne_all_df.query('Score == 0.0')['D2'],
    z=tsne_all_df.query('Score == 0.0')['D3'],
    name = 'Score 0',
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(217, 217, 217, 0.14)',
            width=0.5
        ),
        opacity=0.8
    )
)

trace1 = go.Scatter3d(
    x=tsne_all_df.query('Score == 1.0')['D1'],
    y=tsne_all_df.query('Score == 1.0')['D2'],
    z=tsne_all_df.query('Score == 1.0')['D3'],
    name = 'Score 1',
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(217, 217, 217, 0.14)',
            width=0.5
        ),
        opacity=0.8
    )
)

trace2 = go.Scatter3d(
    x=tsne_all_df.query('Score == -1.0')['D1'],
    y=tsne_all_df.query('Score == -1.0')['D2'],
    z=tsne_all_df.query('Score == -1.0')['D3'],
    name = 'Score -1',
    mode='markers',
    marker=dict(
        size=12,
        line=dict(
            color='rgba(217, 217, 217, 0.14)',
            width=0.5
        ),
        opacity=0.8
    )
)


data = [trace0, trace1, trace2]
layout = go.Layout(
    title='Differences between Positive, Negative, and Neutral Feelings', 
    font=dict(size=16, color='#7f7f7f'),
    height = 800, 
    width = 900,
    legend=dict(
        x=0,
        y=0.90,
        bgcolor='rgba(255, 255, 255, 0)',
        bordercolor='rgba(255, 255, 255, 0)', 
        font=dict(
            size=14,
            color='#000'
            ),
        ),
    )



fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='Differences between Positive, Negative, and Neutral Feelings')